html,
body {
  margin: 0;
}

h2 {
  margin-left: 5px;
}

.appBar {
  padding: 15px 25px;
  background-color: lightgray;
  color: slategrey;
  text-align: center;
}

.btn {
  margin-top: 10px;
}

.container {
  margin-left: 5px;
}

.inputBox {
  margin-top: 10px;
}

.table {
  border-collapse: collapse;
}

.table td {
  padding: 5px 10px;
  border: 2px solid black;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.totalContainer {
  width: 300px;
  margin-left: 50px;
}
